@charset " uft-8";
  @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Overlock:ital@1&display=swap');

header,.menu-top,.banner,aside,article,footer{
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}
header{
  width: 100%;
  height: 100px;
  display: flex;
  background-color: white;
  position: relative;
}
.logo{
  position: absolute;
  left: 0;
  top: 0;
}
.logoindex{
  position: absolute;
  left: 45%;
  top: 0;
}
.iconheader{
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
}
.findheader{
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
}
.container-fluid{
  padding-right: 0!important;
  padding-left: 0!important;
}
/*image_banner*/
.banner{
  display: flex;
  margin-top: 160px;
    max-width: 100%;
    padding: 0 20px;
    box-shadow: 0 0 10px gray;
}
.slider{
  width: 100%;
  overflow: hidden;
}

.slides{
  width: 500%;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: auto;
}


#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}



.navigation-auto{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 41%;
}

.navigation-auto div{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: green;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: yellow;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #ff0000;
}
aside,article{
  min-height: 300px;
  margin-top: 160px;
}
footer{
  height: 100px;
}
.center{
  float: left;
}
.fixfilter{
  background: white;
  left: 0;
  margin-top: 160px;
  max-width: 100%;
  overflow: visible;
  position: fixed !important;
  top: 0;
  width: 25%;
  z-index: 999;
}
header.fix {
  left: 0;
  max-width: 100%;
  overflow: visible;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1001;
}
.nav.fix {
  left: 0;
  margin-top: 100px;
  max-width: 100%;
  overflow: visible;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.nav{
    display: inline-block;
    position: relative;
    height: 60px;
    line-height: 60px;
    max-width: 100%;
    background-color: ghostwhite;
    padding: 0 20px;
    box-shadow: 2px 1px 10px gray;
    text-align: center;
    }
   .nav-item{
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 7px;
    z-index: 1;
    position: relative;
    }
.nav-item:before{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 36, 66);
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
}
.nav-item:hover:before{
    opacity: 1;
    bottom:0;
}
.nav-item:hover{
    color: #333;
}
/* Kiểu nút Dropdown */
.dropbtn {
    cursor: pointer;
  }
  
  /* Dùng trong <div> để định vị nội dung thả xuống */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Nội dung thả xuống (Ẩn theo mặc định) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: ghostwhite;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: ghostwhite;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Liên kết bên trong danh sách thả xuống */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content1 a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
  }
  
  /* Thay đổi định dạng của liên kết thả xuống khi di chuột qua */
  .dropdown-content a:hover {
    background-color: rgba(0, 217, 255, 0.8);
    color: white;
  }
  .dropdown-content1 a:hover {
    background-color: red;
    color: white;
  }
  
  /* Hiển thị menu thả xuống khi di chuột */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropdown-content1 {
    display: block;
  }
  
  /* Thay đổi màu nền của nút thả xuống khi nội dung được hiển thị */
  .dropdown:hover .dropbtn {
    color: #ff0000;
  }
  .icons a {
    color: #000;
  }
  .icons a :hover {
    color: #ff0000;
  }
  .product{
    float: left;
    border: rgb(226, 226, 235) thin solid;
    margin: 4%;
    height: 550px;
    padding: 10px 10px 20px 10px;
    border-radius: 4%;
    text-align: center;
    font-weight: inherit;
    font-size: 11px;
    box-shadow: 0 0 10px gray;
  }
  .product:hover{
    box-shadow: 0 0 10px rgba(0, 217, 255, 0.8);
  }
  .productindex{
    float: left;
    border: rgb(226, 226, 235) thin solid;
    margin: 4%;
    height: 500px;
    padding: 10px 10px 20px 10px;
    border-radius: 4%;
    text-align: center;
    font-weight: inherit;
    font-size: 11px;
    box-shadow: 0 0 10px gray;
  }
  .productindex:hover{
    box-shadow: 0 0 10px rgba(0, 217, 255, 0.8);
  }
  .newsindex{
    float: left;
    border: rgb(226, 226, 235) thin solid;
    margin: 4%;
    height: 750px;
    padding: 10px 10px 20px 10px;
    border-radius: 4%;
    text-align: center;
    font-weight: inherit;
    font-size: 11px;
    box-shadow: 0 0 10px gray;
  }
  .newsindex:hover{
    box-shadow: 0 0 10px rgba(0, 217, 255, 0.8);
  }
  .accordion_f-header{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    cursor: pointer;
  }
  .accordion_f-header h3{
    font-size: 13px;
    font-weight: bold;
  }
  .accordion_f-item.active .accordion_f-header{
    color: rgb(0, 107, 150);
  }
  .accordion_f-item.active .arrow{
    transform: rotate(180deg);
  }
  .accordion_f-body{
    padding: 0px 30px;
    display: none;
  }
  .accordion_f-body a{
    padding: 10px 0px;
    color: gray;
    text-decoration: none;
  }
  .accordion_f-body a:hover{
    color: red;
  }
  #cart_count{
    text-align: center;
    padding: 0.2rem 0.9rem 0 0.9rem;
    border-radius: 3rem;
  }
  .cart section,.cartTitle section{
    text-align: center;
    margin: 30px 0px 50px 0px;
  }
  .cartTitle{
    margin: 30px 0px;
    font-weight: bold;
  }

  .ftr_{
		margin-left: 40%;
		text-align: center;
	}
  .lienhe{
    margin-top: 50px;
    width: 100%;
    display: flex;
    text-align: center;
  }
  .lienket, .send_mail{
    width: 100%;
    margin: 5% 5%;
  }
  .lienket i, h5{
    color: gray;
  }
  .lienket i{
    padding: 20px 10px;
  }
  .lienket i:hover{
    color:#ff0004;
  }
  .row1{
    width: 100%;
    display: flex;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .row1 div{
    padding: 3% 2%;
  }
  .row1 h4{
    font-size: 20px;
  }
  .row1 ul, li , a{
    list-style: none;
    color: #555555;
    text-decoration: none;
  }.footer{
    width: 100%;
    display: flex;
    background: #F9F9F9;
  }
  .footer ul{
    list-style: none; 
    display: flex;
  }
  .footer ul li{
    padding: 5px 15px;
  }
  .footer ul li a{
    text-decoration: none;
    font-size: 12px;
  }
  .footer ul li a:hover{
    color: red;
  }
  #send_mail:hover{
    background: white;
    color:  green;
    cursor: pointer;
    border: 1px solid greenyellow;
  }
    .send_mail input[type="text"]{
      border:1px thin #8C8989;
          background: none;
          padding: 10px 1px;
          width: 200px;
          color: black;
          transform: 0.25px;
          
    }
    .send_mail input[type="submit"]{
          text-align: center;
          width: 100px;
          padding: 10px 10px;
      transform: 0.25px;
      background: green;
      color: white;
      border: none;
    }

    h6{color: rgb(79, 202, 250);}

    ul li{list-style-type: circle;
       font-size: 14px;
    }
    p{color: gray;
      font-size: 14px;
    }
    td{font-size: 13px;}

    .pages{
      width: 100%;
      float: left;
      background: #000;
      text-align: center;
    }
    .highlight{
      color: #fff;
      font-weight: bold;
      font-size: 25px;
    }

    .payment{
      padding-left: 35%;
    }

/*Breadcrumb*/
.bc{
  padding-top: 50px;
  width: 40%;
}

.btn-breadcrumb .btn:not(:last-child):after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0; 
  border-top: 17px solid transparent; 
  border-bottom: 17px solid transparent; 
  border-left: 10px solid white; 
  position: absolute; 
  top: 50%; 
  margin-top: -17px; 
  left: 100%; 
  z-index: 3;
  }
   
  .btn-breadcrumb .btn:not(:last-child):before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0; 
  border-top: 17px solid transparent; 
  border-bottom: 17px solid transparent; 
  border-left: 10px solid rgb(173, 173, 173); 
  position: absolute; 
  top: 50%; 
  margin-top: -17px; 
  margin-left: 1px; 
  left: 100%; 
  z-index: 3;
  }
   
  .btn-breadcrumb .btn {  
  padding:6px 12px 6px 24px;
  }
   
  .btn-breadcrumb .btn:first-child {  
  padding:6px 6px 6px 10px;
  }
   
  .btn-breadcrumb .btn:last-child {   
  padding:6px 18px 6px 24px;
  }
   
   
  .btn-breadcrumb .btn.btn-default:not(:last-child):after { 
  border-left: 10px solid #fff;
  }
   
  .btn-breadcrumb .btn.btn-default:not(:last-child):before { 
  border-left: 10px solid #ccc;
  }
   
  .btn-breadcrumb .btn.btn-default:hover:not(:last-child):after { 
  border-left: 10px solid #ebebeb;
  }
   
  .btn-breadcrumb .btn.btn-default:hover:not(:last-child):before { 
  border-left: 10px solid #adadad;
  }
  

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: ghostwhite;
  }
   
  .img:hover .overlay {
    opacity: 1;
  }
   
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .img{
    position: relative;
  }
  .rating{
    padding:10px 40px;
  }

  
  